<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title><%= @title %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="text/javascript" src="/scripts/shCore.js"></script>
    <script type="text/javascript" src="/scripts/shBrushBash.js"></script>
    <script type="text/javascript" src="/scripts/shBrushCpp.js"></script>
    <script type="text/javascript" src="/scripts/shBrushCSharp.js"></script>
    <script type="text/javascript" src="/scripts/shBrushCss.js"></script>
    <script type="text/javascript" src="/scripts/shBrushDelphi.js"></script>
    <script type="text/javascript" src="/scripts/shBrushDiff.js"></script>
    <script type="text/javascript" src="/scripts/shBrushGroovy.js"></script>
    <script type="text/javascript" src="/scripts/shBrushJava.js"></script>
    <script type="text/javascript" src="/scripts/shBrushJScript.js"></script>
    <script type="text/javascript" src="/scripts/shBrushPhp.js"></script>
    <script type="text/javascript" src="/scripts/shBrushPlain.js"></script>
    <script type="text/javascript" src="/scripts/shBrushPython.js"></script>
    <script type="text/javascript" src="/scripts/shBrushRuby.js"></script>
    <script type="text/javascript" src="/scripts/shBrushScala.js"></script>
    <script type="text/javascript" src="/scripts/shBrushSql.js"></script>
    <script type="text/javascript" src="/scripts/shBrushVb.js"></script>
    <script type="text/javascript" src="/scripts/shBrushXml.js"></script>
    <link type="text/css" rel="stylesheet" href="/styles/shCore.css"/>
    <link type="text/css" rel="stylesheet" href="/styles/shThemeDefault.css"/>
    <link rel="stylesheet" type="text/css" href="/styles/styles.css" media="screen" />
    <script type="text/javascript">
      SyntaxHighlighter.config.clipboardSwf = "/scripts/clipboard.swf";
      SyntaxHighlighter.all();
    </script>
    <link rel="shortcut icon" href="images/favicon.ico" />
  </head>
  <body id="haut">
    <div id="page">
      <div id="header">
        <h1><a href="/">#Dev-co Snippets</a></h1>
      </div>
      <div id="contenu">
       <div>
    <%= yield  %>
  </div>
</div>
<div id="menu">
<a href="/snippet/new" title="New Snippet"><img src="/new_snippet.png" alt="New Snippet"/></a>
<h2>Les Articles</h2> 
<ul>
<li><a href="">Le GIMP</a></li>
<li><a href="">XHTML/CSS</a></li>
<li><a href="">PHP/MySQL</a></li>
<li><a href="">RSS et XML</a></li>
</ul>
<h2>Ressources</h2> 
<ul>
<li><a href="">Outils</a></li>
<li><a href="">Tutoriaux</a></li>
<li><a href="">Articles</a></li>
</ul>
</div>
<div id="footer">
<p>&copy; http://snippets.dev-co.org &middot; <a href="http://alexandrejoseph.com/">Designed by Alexandre Joseph</a> - <a href="http://github.com/cleon/DevCO-Snippets">DevCO-Snippets</a> is free software released under the terms of the a <a href="/license.txt">New BSD License</a></p>
</div>
</div>
</body>
</html>
